{% extends "sidebar.j2" %}
{% extends "base16.j2" %}
{% extends "page.j2" %}

{% block layoutname %}
basic
{% endblock %}

{% block body %}
{% for section in sections %}
<div id="section-{{loop.index}}">
    {% if section.doc != "" %}
    <div class="doc">
        {{ section.docs_html}}
    </div>
    {% endif %}
    {% if section.code != "" %}
    <div class="code">
        {{ section.code_html}}
    </div>
    {% endif %}
</div>
{% endfor %}
{% endblock %}

{% block contentcss %}
<style>
    html * {
        font-family: 'Chivo', sans-serif;
        font-variant-ligatures: none;
        font-weight: 300;
    }

    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    footer {
        text-align: center;
        border-top: solid 1px #{{base04_hex}};
        background-color: #{{base00_hex}};
        margin-top: auto;        
    }
    code,
    code>* {
        font-family: 'Chivo Mono', monospace !important;
        background-color: #{{base01_hex}} !important;
        overflow-x: auto;
    }

    div.doc>pre>*,  {
        background-color: #{{base02_hex}} !important;
    }

    div.doc>p>code  {
        display: inline !important;
    }
</style>
{% endblock %}
