{% extends "sidebar.j2" %}
{% extends "page.j2" %}

{% block layoutname %}
sidebyside
{% endblock %}

{% block body %}
{% for section in sections %}
<div id="section-{{loop.index}}">
    {% if section.doc != "" %}
    <div class="doc">
        {{ section.docs_html}}
    </div>
    {% endif %}
    {% if section.code != "" %}
    <div class="code">
        {{ section.code_html}}
    </div>
    {% endif %}
</div>
{% endfor %}
{% endblock %}

{% block contentcss %}
<style>
    html * {
        font-family: 'Chivo', sans-serif;
        font-variant-ligatures: none;
        font-weight: 300;
    }

    code,
    code>* {
        font-family: 'Chivo Mono', monospace !important;
    }

    div.doc>pre>code {
        background-color: var(--pico-color-slate-800);
        border: solid 1 var(--pico-color-slate-700)
    }
</style>
{% endblock %}