<!DOCTYPE html>

<html lang="en" data-theme="dark">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }}</title>
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Chivo:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <!-- Pico CSS -->
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.colors.min.css" />
    <!-- Highlight.js -->
    <link id="hljscss" rel="stylesheet"
        href="https://unpkg.com/@highlightjs/cdn-assets@11.9.0/styles/night-owl.min.css" />
    <script src="https://unpkg.com/@highlightjs/cdn-assets@11.9.0/highlight.min.js"></script>
    <script src="https://unpkg.com/@highlightjs/cdn-assets@11.9.0/languages/{{language}}.min.js"></script>
    <!-- Custom style-->
    {% block CSS %}
    {% endblock %}
    <style>
        .sidebar {
            position: fixed;
            top: 0;
            width: 15em;
            left: -15em;
            height: 100%;
            background: #1e1e1e;
            transition: all .5s ease;
            padding: 2em;
        }
        .sidebar a {
            display: block;
            width: 100%;
            color: white;
            line-height: 2em;
            box-sizing: border-box;
            transition: all .5s ease;
        }

        a.active {
            color: #b93632;
        }

        #check {
            display: none;
        }

        label #btn,
        label #cancel {
            position: absolute;
            top: 0;
            cursor: pointer;
            color: white;
            border-radius: 5px;
            border: 1px solid #262626;
            margin: 15px 30px;
            font-size: 29px;
            background: #262626;
            height: 45px;
            width: 45px;
            text-align: center;
            line-height: 45px;
            transition: all .5s ease;
        }

        label #cancel {
            opacity: 0;
            visibility: hidden;
        }

        #check:checked~.sidebar {
            left: 0;
        }

        #check:checked~label #btn {
            margin-left: 15em;
            opacity: 0;
            visibility: hidden;
        }

        #check:checked~label #cancel {
            margin-left: 12em;
            opacity: 1;
            visibility: visible;
        }

        @media(max-width : 768px) {
            .sidebar {
                height: auto;
                width: 70px;
                left: 0;
                margin: 100px 0;
            }

            header,
            #btn,
            #cancel {
                display: none;
            }

            span {
                position: absolute;
                margin-left: 23px;
                opacity: 0;
                visibility: hidden;
            }

            .sidebar a {
                height: 60px;
            }

            .sidebar a i {
                margin-left: -10px;
            }

            a:hover {
                width: 200px;
                background: inherit;
            }

            .sidebar a:hover span {
                opacity: 1;
                visibility: visible;
            }
        }
    </style>
</head>

<body>
    <input type="checkbox" id="check">
    <label for="check">
        <i id="btn">⇥</i>
        <i id="cancel">⇤</i>
    </label>
    <div class="sidebar">
        <h4>Documents</h4>
        {% for k,v in links %}
        <a href="{{ v }}"><span>{{k}}</span></a></li>
        {% endfor %}
    </div>

    <main class="container">
        {% block body %}
        {# This block is overwritten by child templates #}
        {% endblock %}
    </main>
    <footer style="text-align: center;" class="pico-background-purple-800">
        » Generated by <a href="https://crycco.ralsina.me">Crycco</a> » Layout {% block layoutname%}{% endblock %} »
        Powered by <a href="https://picocss.com">PicoCSS</a> and <a href="https://www.omnibus-type.com/">Chivo Font
            Family</a>
    </footer>
    <script>
        hljs.highlightAll();
    </script>
</body>

</html>