{% extends "sidebar.j2" %}
{% extends "base16.j2" %}
{% extends "page.j2" %}

{% block layoutname %}
sidebyside
{% endblock %}

{% block body %}
</div>
{% for section in sections %}
<div id="{{section.anchor}}" class="grid">
    <div class="doc" id="{{section.anchor}}">
        <span class="anchor">
            <a href="#{{section.anchor}}" class="anchor">↦</a>
        </span>
        {{ section.docs_html}}
    </div>
    <div class="code">
        {{ section.code_html}}
    </div>
</div>
{% endfor %}
{% endblock %}

{% block contentcss %}
<style>
    html * {
        font-family: Chivo, sans-serif;
        font-weight: 300;
        overflow: visible;
    }

    html {
        background: linear-gradient(to right, var(--pico-background-color) 2.5%, #{{base01_hex}} 2.5%);
        background-size: 2000% 100%;
    }

    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    footer {
        text-align: center;
        border-top: solid 1px #{{base04_hex}};
        background-color: #{{base00_hex}};
        margin-top: auto;
    }
    code, div.code>pre>code {
        font-family: 'Chivo Mono', monospace !important;
        padding: .15rem;
        background-color: #{{base01_hex}} !important;
    }

    code>span {
        font-family: 'Chivo Mono', monospace !important;
    }

    div.doc>pre>code {
        overflow-x: auto !important;
    }
    span.anchor {
        position: relative;
    }

    a.anchor {
        position: absolute;
        text-decoration: none;
        left: -1.2em;
        opacity: 0;
        -webkit-transition: opacity 0.2s linear;

            {
            # font-size: 150%;
            #
        }
    }

    div.doc:hover .anchor {
        opacity: 1;
    }

    @media (width < 768px) {
        html {
            background: var(--pico-background-color);
        }

        pre.code>code {
            overflow-x: auto !important;
        }
    }
</style>
{% endblock %}
