{% extends "page.j2" %}

{% block layoutname %}
sidebyside
{% endblock %}

{% block body %}
<div id="background" class="background">
</div>
{% for section in sections %}
<div id="section-{{loop.index}}" class="grid">
    <div class="doc" id="section-{{loop.index}}">
        <span class="anchor">
            <a href="#section-{{loop.index}}" class="anchor">↦</a>
        </span>
        {{ section.docs_html}}
    </div>
    <div class="code">
        {{ section.code_html}}
    </div>
</div>
{% endfor %}
{% endblock %}

{% block CSS %}
<style>
html * {
    font-family: Chivo, sans-serif;
    font-variant-ligatures: none;
    overflow: visible !important;
}

code,
code>* {
    font-family: 'Chivo Mono', monospace !important;
    padding-top: 0 !important;
}

div.doc>pre>code {
    background-color: var(--pico-color-slate-800);
    border: solid 1 var(--pico-color-slate-700)
}

.background {
    background: linear-gradient(to right, var(--pico-color-slate-900) 50%, #011627 50%);
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -1;
    margin: 0;
    top: 0px;
    left: 0px;
    display: block;
}

span.anchor {
    position: relative;
}

a.anchor {
    position: absolute;
    text-decoration: none;
    left: -1.2em;
    opacity: 0;
    -webkit-transition: opacity 0.2s linear;
    {# font-size: 150%; #}
}

div.doc:hover .anchor {
    opacity: 1;
}

@media screen and (max-width: 768px) {
    div.background {
        display: none;
    }
}
</style>
{% endblock %}